@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  box-sizing: border-box;
  transition: all 0.2s;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto Slab", serif;
}

a {
  text-decoration: none;
}

.story1 {
  background-image: url("/img/molnes.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.story1:hover {
  opacity: 0.8;
}
.story2:hover {
  opacity: 0.8;
}
.story3:hover {
  opacity: 0.8;
}
.story4:hover {
  opacity: 0.8;
}

h2:hover {
  background-color: gray;
  transition: all 0.2s;
}
.story2 {
  background-image: url("/img/mf.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.story3 {
  background-image: url("/img/sopp.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.story4 {
  background-image: url("/img/3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.flexdiv {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  align-content: center;
}

h2 {
  color: black;
  background-color: white;
  padding: 10px 20px;
  text-decoration: none;
}

main {
  margin: 0 auto;
  background-color: lightgray;
  width: 100%;
  height: 100%;
}

main h1 {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 50px;
  font-family: "Roboto Slab", serif;
}

#articlecontainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: "article1" "article2";
}

article {
  width: 100%;
  height: 400px;
}

article h2 a {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

article h2 {
  margin-top: 5px;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  gap: 30px;
}

header {
  margin-top: 20px;
  width: 100%;
  padding: 20px 50px;
}

#logo {
  width: 30em;
}

@media only screen and (max-width: 900px) {
  main {
    width: 100%;
  }
  article {
    height: 400px;
  }

  #articlecontainer {
    width: 100%;
    display: inline;
  }

  nav {
    width: 100%;
  }

  #logo {
    width: 100%;
  }

  article h2 a {
    font-size: 30px;
  }

  #articleimg {
    width: 100%;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 1400px) {
  article {
    width: 100%;
    height: 700px;
  }
}
