* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

main {
  margin: 0 auto;
  background-color: lightgray;
  width: 70%;
  height: 100%;
}

main h1 {
  margin: 20px;
}

#articlecontainer {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: "article1" "article2";
}

article {
  width: 100%;
  height: auto;
  padding: 50px;
}

article h2 a {
  font-size: 40px;
  text-decoration: none;
  color: black;
}

article h2 {
  margin-top: 5px;
}

#articleimg {
  width: 80%;
}

nav {
  display: inline-block;
}

nav ul {
  display: flex;
  gap: 30px;
  float: right;
}

header {
  margin: 0 auto;
  margin-top: 20px;
  width: 60%;
}

#logo {
  width: 30em;
}
