* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

main {
  margin: 0 auto;
  background-color: lightgray;
  width: 70%;
  height: 700px;
}

main h1 {
  margin: 20px;
}

#articlecontainer {
  background-color: aliceblue;
  overflow: auto;
}

article {
  border: 1px solid red;
  width: 100%;
  height: 200px;
}

nav {
  display: inline-block;
}

nav ul {
  display: flex;
  gap: 30px;
  float: right;
}

header {
  margin: 0 auto;
  margin-top: 20px;
  width: 60%;
}

#logo {
  width: 30em;
}
