@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
}
p {
  font-size: 1.2rem;
}

.logoLink {
  align-self: flex-start;
  position: absolute;
  top: -5px;
  width: 150px;
  margin-left: 20px;
  background-color: white;
  padding: 10px 15px;
  z-index: 1000;
}

.logo {
  width: 100%;
}

.logoLink:hover {
  opacity: 0.8;
  transition: all 0.2s;
}

.video-parallax {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video-parallax video {
  min-width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -999;
}

.myVideo {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: static;
}

.myVideo2 {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.first-text-parallax {
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  font-size: 2.5rem;
  max-width: 60rem;
  align-items: center;
  padding: 0 20px;
}

.linear {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.850577731092437) 0%,
    rgba(255, 240, 178, 0) 20%
  );
}

.content-wrapper {
  grid-area: mid;
  margin: 0 auto;
  display: grid;
}

.yearcount-hide {
  transition: opacity 0.1s linear;
  opacity: 0;
}

.yearcount-show {
  transition: opacity 0.5s linear;
  opacity: 1;
}

aside {
  grid-area: year-nav;
  position: fixed;
  top: 48%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  margin-left: 50px;
}

aside ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

aside ul li .indicator {
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem 0 0 3rem;
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.493);
  margin-bottom: 5px;
  font-weight: 600;
  /* height: 15px;
    width: 15px;
    border-radius: 50%; */
  /* background-color: white; */
}

aside ul li .active {
  transform: scale(2.5);
  transition: transform 200ms ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: rgb(248, 170, 0);
  padding: 0px 5px;
  border-left: 3px solid rgb(255, 255, 255);
  border-radius: 1px;
}

.year-content {
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}

.year-content2 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* TODO: Textbox styling*/
.textbox {
  z-index: 1;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.842);
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-left: 10px solid black;
}

.textbox2 {
  background: rgba(255, 255, 255, 0.842);
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.textbox2 p {
  font-size: 1.4rem;
}

/* TODO: Made by styling */
.madeby {
  color: black;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
}

/* Quotetext */
.quoteText {
  font-weight: 600;
}

/* HEADER h1 */
header h1 {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding-top: 30%;
  color: white;
  font-size: 3rem;
  letter-spacing: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* HEADER image */
.header-img {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1624938518616-3be0add427d1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  background-size: cover;
}

/* Image Parallax */

.img-parallax {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.img0 {
  background-color: aquamarine;
}

.img1 {
  background-image: url("../src/img/1.jpg");
}

.img2 {
  background-image: url("../src/img/2.jpg");
}

.img3 {
  background-image: url("../src/img/3.jpg");
}

.img4 {
  background-image: url("../src/img/4.jpg");
}

/* .img5 {
  background-image: url("../src/img/5.jpg");
} */

.img6 {
  background-image: url("../src/img/6.jpg");
}

.img7 {
  background-image: url("../src/img/7.jpg");
}

.img8 {
  background-image: url("../src/img/8.jpg");
}

.img9 {
  background-image: url("../src/img/9.jpg");
}

.img10 {
  background-image: url("../src/img/10.jpg");
}

.img11 {
  background-image: url("../src/img/11.jpg");
}

.img12 {
  background-image: url("../src/img/12.jpg");
}

/* Text parallax */

.text-parallax {
  background: rgba(0, 0, 0, 0);
  color: #fff;
  text-align: center;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.img-parallax h1 {
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px #000000;
  font-family: "Cabin", Sans-Serif;
  max-width: 60rem;
}

/* HOVERING EXPLAINATION TEXT */
.tooltip {
  position: relative;
  display: inline-block;
  z-index: 1;
  border-bottom: 1px dotted black;
  /* cursor: pointer; */
  cursor: help;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  bottom: 100%;
  left: 50%;
  margin-left: -300px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.795);
  color: #fff;
  text-align: left;
  padding: 15px 20px;
  transition: all 0.2s;
  border-left: 10px solid white;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 2;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  transition: all 0.2s;
}
@media only screen and (max-width: 600px) {
  .img6 {
    background-image: url("../src/img/6-m.jpg");
  }

  .textbox p {
    font-size: 2rem;
  }

  .first-text-parallax {
    font-size: 5rem;
    padding: 80px;
  }

  .logoLink {
    width: 400px;
    padding: 20px;
  }
}
